.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px);
    padding: 20px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    };
    &__title {
        font-family: 'Roboto';
    }

    .sitenav {
        white-space: nowrap;
        &__list {
            display: flex;
            gap: 40px;
        };
        &__link {
            color: #525560;
            font-weight: 500;
            font-size: 16px;
        };
        &__link:hover {
            color: #0B0706;
            transition: 0.2s ease;
        };
    };
}